
@import "tailwindcss";

@tailwind utilities;
  @layer components {

  /* =========================
     ABOUT
  ========================= */
  .about {
    @apply p-20 relative;
  position: relative;
  z-index: 1;
    min-height: 100vh;
  display: flex;
  }

  .about-container {
    @apply max-w-6xl mx-auto px-5
           grid grid-cols-1 md:grid-cols-2
           gap-16 items-center;
  }

  .about-content h2 {
    @apply flex justify-center text-5xl font-bold text-slate-900 mb-10;
  }

  .about-content p {
    @apply mt-3 text-slate-800 max-w-xl;
  }

  /* Highlights */
  .about-highlights {
    @apply mt-10 flex gap-5 flex-wrap;
  }

  .highlight {
    @apply 
           items-center text-center
           p-2 rounded-lg;
  }

  .highlight span {
    @apply text-xl font-bold text-sky-800;
  }

  .highlight p {
    @apply text-sm text-slate-700;
  }

  /* Visual */
  .about-visual {
    @apply flex-2 justify-self-end md:justify-end;
        animation: floatSoft 4s ease-in-out infinite;
  }

  .about-card {
    @apply relative bg-white rounded-xl p-4 max-w-sm
           border border-slate-100 shadow-md;

  }
  .about-image {
    @apply relative justify-self-center w-75 h-75 rounded-full;   
    background: linear-gradient(180deg,  rgba(102, 144, 233, 0.13), #ffffff);
  }
  .about-card p {
    @apply text-slate-700 italic;
  }

}