
@import "tailwindcss";

@tailwind utilities;
  @layer components {

  /* =========================
     ABOUT
  ========================= */
  .about {
    @apply p-20;
  }

  .about-container {
    @apply max-w-6xl mx-auto px-5
           grid grid-cols-1 md:grid-cols-2
           gap-16 items-center;
  }

  .about-content h2 {
    @apply text-3xl font-bold text-slate-900;
  }

  .about-content p {
    @apply mt-6 text-slate-600 max-w-xl;
  }

  /* Highlights */
  .about-highlights {
    @apply mt-10 flex gap-8 flex-wrap;
  }

  .highlight {
    @apply flex flex-col;
  }

  .highlight span {
    @apply text-2xl font-bold text-sky-400;
  }

  .highlight p {
    @apply text-sm text-slate-500;
  }

  /* Visual */
  .about-visual {
    @apply flex justify-center md:justify-end;
  }

  .about-card {
    @apply relative bg-white rounded-xl p-8 max-w-sm
           border border-slate-100 shadow-md;
    animation: floatSoft 4s ease-in-out infinite;
  }

  .about-card p {
    @apply text-slate-700 italic;
  }

}