@import "tailwindcss";

@tailwind utilities;

@layer components{
    
  .contact-info {
    
  }
  .contac-info-title{
    @apply flex pb-5 justify-center text-5xl;
  }
  .contact-info-items {
    @apply flex gap-3 text-red-700 text-sm space-x-5;
  }
  .contact-icon{
    @apply flex justify-self-center;
  }
  .contact-info-item img {
    @apply w-5 h-5 opacity-80;
  }

  .contact-info-item a,
  .contact-info-item button {
    @apply hover:text-sky-400 transition cursor-pointer bg-transparent border-none;
  }

  .contact-divider {
    @apply h-px w-full bg-slate-200 my-6;
  }
  .contact-section {
    @apply max-w-6xl mx-auto py-10 px-6;
  }

  .contact-title {
    @apply text-3xl font-bold text-slate-800 mb-5 justify-self-center;
  }

  .contact-subtitle {
    @apply text-slate-600 mb-12 text-xl;
  }

  .contact-grid {
    @apply grid md:grid-cols-2 gap-12;
  }

  .contact-form {
    @apply bg-white p-8 rounded-xl shadow-lg space-y-6;
  }

  .form-group label {
    @apply block text-sm font-medium text-slate-700 mb-1;
  }

  .form-group input,
  .form-group textarea {
    @apply w-full border border-slate-300 rounded-lg px-4 py-2
           focus:outline-none focus:ring-2 focus:ring-sky-400;
  }

  .contact-btn {
    @apply w-full bg-sky-400 text-white font-semibold py-3 rounded-lg
           hover:bg-sky-500 transition;
  }

  .contact-socials {
    @apply flex flex-col ;
  }

  .contact-socials h3 {
    @apply text-xl font-semibold mb-6;
  }

  .social-list {
    @apply flex gap-4 justify-center;
  }

  .social-list a,
  .social-list button {
    @apply flex items-center gap-3 text-slate-700 hover:text-sky-400
           transition cursor-pointer bg-transparent border-none;
  }

  .social-list img {
    @apply w-6 h-6;
  }
  .social-card{
    @apply bg-sky-50 px-2.5 py-1 border-1 rounded-xl border-sky-200 justify-items-center;
  }
}