@import "tailwindcss";

@tailwind utilities;
  html {
  scroll-behavior: smooth;
}
 /* =========================
     SCROLL REVEAL (IN / OUT)
  ========================= */
  .section{
    scroll-margin-top: 50px;
  }
  .reveal-section {
    @apply opacity-0 translate-y-50 scale-50
           transition-all duration-300;
  }
  /**Abaut section**/
  #abaut-section{
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    /* remove debug border in production */
    /* border: 2px solid red; */
  }
  .about-bg {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  background-image: url("/assets/images/about-bg.png"); /* NUEVA IMAGEN */
  background-size: cover; /* fill the whole section */
  background-position: center top;
  background-repeat: no-repeat;
  will-change: transform;
  transform: translateY(0);
  z-index: 0;
}
.about-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.171),
    rgba(255, 255, 255, 0.199)
  );
}


  /**   */
  .reveal-section-container {
    @apply opacity-0 translate-y-50 scale-50
           transition-all duration-300;
  }
  .header-section{
    @apply sticky top-0 z-50;
  }
  /* ENTRADA */
  .reveal-section.is-visible {
    @apply opacity-100 translate-y-0 scale-100 transition-all duration-400;
  }
  .reveal-section-container.is-visible {
    @apply opacity-100 translate-y-0 scale-100 transition-all duration-700;
  }
#hero-section {
  @apply shadow-lg overflow-hidden pb-5;
  background: linear-gradient(210deg, rgb(24, 80, 200), #ffffff);
  border-bottom-right-radius: 1000% 100%;
  border-bottom: 2px solid #fff;
}
.hero-section-one {
   @apply shadow-lg  overflow-hidden pb-5;
  background: linear-gradient(210deg, rgb(24, 50, 200), #ffffff);
  border-bottom-right-radius: 1000% 300%;
  border-bottom: 2px solid #fff;

  animation: foldIn 0.9s ease-out forwards;
}
.hero-section-two {
   @apply shadow-lg overflow-hidden pb-5;
  background: linear-gradient(210deg, rgb(24, 80, 200), #ffffff);
  border-bottom-right-radius: 1000% 600%;
  border-bottom: 2px solid #fff;

  animation: foldIn 1.1s ease-out forwards;
  animation-delay: 0.15s;

  transition: overflow 0.3s ease;
}
.hero-section-three {
   @apply shadow-lg pb-5;
  background: linear-gradient(210deg, rgb(24, 100, 200), #ffffff);
  border-bottom-right-radius: 1000% 900%;
  border-bottom: 2px solid #fff;

  animation: foldIn 1.25s ease-out forwards;
  animation-delay: 0.3s;
}
#hero-visual:hover ~ .hero-section-two,
.hero-section-two:has(.hero-visual:hover),
#hero-visual:hover ~ .hero-section-one,
.hero-section-one:has(.hero-visual:hover) {
  overflow: visible;
}
#hero-visual:hover ~ .hero-section-three,
.hero-section-three:has(.hero-visual:hover) {
  overflow: visible;
  box-shadow: 0 50px 200px rgb(0, 0, 0);
}
#hero-visual:hover ~ #hero-section,
#hero-section:has(.hero-visual:hover) {
  box-shadow: 0 0 50px rgb(24, 50, 200);
}
@keyframes foldIn {
  0% {
    opacity: 0;
    transform: perspective(1500px) rotateX(-35deg) scaleY(0.85);
  }

  60% {
    opacity: 1;
    transform: perspective(1500px) rotateX(10deg) scaleY(1.02);
  }

  100% {
    transform: perspective(1500px) rotateX(0deg) scaleY(1);
  }
}

  .nav-links a.active {
    @apply text-sky-800;
    text-shadow: 0 0 10px rgba(56, 189, 248, 0.9);
  }
  /* SALIDA */
  .reveal-section.is-hidden {
    @apply opacity-0 translate-y-100 scale-80;
  }
  .reveal-section.is-hidden-container {
    @apply opacity-0 translate-y-100 scale-80;
  }
  /* Responsive */
  @media (max-width: 768px) {
    .timeline::before {
      @apply left-4;
    }

    .timeline-item {
      @apply justify-start pl-12 pr-0;
    }

    .timeline-dot {
      @apply left-4;
    }
  }
/* =========================
   Animaciones
========================= */

@keyframes logoIn {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes tumblr {
  0%{
    transform: rotateZ(-3deg);
  }
  100%{
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(2deg);
  }
}
@keyframes floatSoft {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
/** **/
/** FONT **/
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .about-bg {
    transform: none !important;
    background-attachment: scroll;
  }
}

/** **/
