@import "tailwindcss";

@tailwind utilities;

@layer components{
    /* =========================
   HEADER
========================= */
  .header-section {
    overflow-x: hidden;
    @apply bg-white/80 backdrop-blur border-b border-black/5;
  }

  .nav-container {
    @apply max-w-7xl mx-auto py-2 flex items-center justify-between;
  }

  /* ===== Brand ===== */
  .brand {
    @apply flex items-center gap-3 no-underline;
  }

  .logo-ec {
    @apply w-10 h-10 flex items-center justify-center
           rounded-lg bg-sky-100
           font-mono font-bold text-slate-900
           transition-all duration-300;
    animation: logoIn 0.6s ease-out;
  }

  .brand:hover .logo-ec {
    @apply bg-sky-400 text-white shadow-lg;
  }

  .brand-text {
    @apply text-sm font-semibold tracking-wide text-slate-800
           transition-colors duration-300;
  }

  .brand:hover .brand-text {
    @apply text-sky-400;
  }

  /* ===== Desktop Nav ===== */
  .nav-links {
    @apply hidden md:flex gap-8 font-medium;
  }

  .nav-links a {
    @apply relative text-slate-800 transition-all duration-600;
  }
  /* ===== Nav active (scroll spy) ===== */

  .nav-links a::after {
    content: "";
    @apply absolute left-0 -bottom-2 h-[2px] w-0 bg-sky-200 transition-all;
  }

  .nav-links a:hover {
    @apply text-sky-400;
    text-shadow: 0 0 8px rgba(56, 189, 248, 0.7);
  }
  .nav-links a.active .title-section{
    @apply text-red-800;
  }
  .nav-links a:hover::after {
    width: 100%;
  }

  /* ===== Mobile ===== */
  .menu-toggle {
    @apply md:hidden flex flex-col gap-1.5;
  }

  .menu-toggle span {
    @apply w-6 h-[2px] bg-slate-800 transition;
  }

  .mobile-menu {
    @apply hidden md:hidden px-5 pb-4;
    animation: fadeUp 0.3s ease-out;
  }

  .mobile-menu.open {
    @apply block;
  }

  .mobile-menu ul {
    @apply flex flex-col gap-4 font-medium;
  }

  .mobile-menu a {
    @apply text-slate-800 hover:text-sky-400 transition;
  }

}