@import "tailwindcss";
@tailwind utilities;

@layer components {

  /* =========================
     SECTION
  ========================= */
  .projects-section {
    @apply py-20 bg-slate-50;
  }

  .projects-container {
    @apply max-w-7xl mx-auto px-6;
  }

  /* =========================
     HEADER
  ========================= */
  .projects-header {
    @apply text-center mb-16;
  }

  .projects-header h2 {
    @apply text-3xl md:text-4xl font-bold text-slate-900;
  }

  .projects-header p {
    @apply mt-4 text-slate-600 max-w-2xl mx-auto;
  }

  /* =========================
     GRID
  ========================= */
  .projects-grid {
    @apply grid gap-8 sm:grid-cols-2 lg:grid-cols-3;
  }

  /* =========================
     CARD
  ========================= */
  .project-card {
    @apply rounded-2xl overflow-hidden
           bg-white shadow-lg
           transition-all duration-500
           hover:shadow-xl;
  }
  .projects-resume{
    @apply relative overflow-hidden bg-white
           shadow-md transition-all duration-500
           hover:shadow-xl p-5;
  }
.project-bg-overlay{
      @apply relative overflow-hidden bg-white
           shadow-md transition-all duration-500
           hover:shadow-xl;
}
  .project-image {
    @apply h-56 w-full object-cover
           transition-transform duration-500
           group-hover:scale-105;
  }

  /* =========================
     CATEGORY BADGE
  ========================= */
  .project-category {
    @apply absolute top-4 left-4 z-10
           rounded-full bg-sky-500/90
           px-3 py-1 text-xs font-semibold
           text-white;
  }

  /* =========================
     OVERLAY
  ========================= */
  .project-overlay {
    @apply absolute inset-0
           bg-gradient-to-t
           from-slate-900/90 via-slate-900/40 to-transparent
           opacity-0 transition-opacity duration-500
           group-hover:opacity-100
           flex flex-col justify-end p-6;
  }

  .project-overlay h3 {
    @apply text-lg font-semibold text-white mb-3;
  }

  /* =========================
     BUTTON
  ========================= */
  .project-btn {
    @apply inline-flex items-center gap-2
           w-fit rounded-lg bg-sky-400
           px-4 py-2 text-sm font-medium
           text-white transition
           hover:bg-sky-500;
  }

  .project-btn span {
    @apply transition-transform duration-300
           group-hover:translate-x-1;
  }
  .projects-card-tecnology{
    @apply flex gap-1 justify-start pt-5;

  }
  .projects-card-tecnology:hover span{
      @apply hover:bg-sky-200 hover:text-black transition-all duration-300;
    }
  .projects-card-tecnology-name{
    @apply text-[20px] text-white bg-sky-700 rounded-full px-2 content-center;
  }
}