---
import "../styles/Hero.css";
---

<div class="hero-container">
  <!-- Left -->
  <div class="hero-content">
    <span class="hero-kicker"
      ><span class="hero-ing"><a>Ing.</a></span> Estevan Cabarcas</span
    >

    <h1 class="hero-title">
      Construyo soluciones<br />
      <span>tecnologicas</span>
    </h1>

    <p class="hero-description">
      Ingeniero de Sistemas con experiencia en desarrollo backend y diseño de
      APIs REST escalables y seguras. Experiencia con Python, .NET y Docker,
      enfocado en la implementación de lógica de negocio, integración de
      servicios y comunicación eficiente con bases de datos y sistemas en tiempo
      real.
    </p>

    <div class="hero-actions">
      <div class="btn-primary flex p-3">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h.01"
          ></path>
        </svg>
        <a href="#projects-section" class="">Ver proyectos</a>
      </div>
      <div class="btn-secondary flex p-3">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 6H5m2 3H5m2 3H5m2 3H5m2 3H5m11-1a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2M7 3h11a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1Zm8 7a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
          ></path>
        </svg>

        <a href="#contact-section" class="">Contacto</a>
      </div>
    </div>
  </div>

  <div class="hero-visual">
    <div class="code-card">
      <div class="code-image">
        <div class="linkedin-container">
          <a
            href="https://www.linkedin.com/in/estevan-cabarcas-urieles/"
            target="_blank"
            class="code-link"
          >
            LinkedIn
          </a>
        </div>
        <img
          class="foto-image"
          src="/public/assets/images/foto-perfil.webp"
          alt="foto"
        />
      </div>
      <pre><code set:html={`{
  "rols": "System Engineer | Developer | Designer",
  "stack": ["Backend", "APIs", "Automation" , "Data Science"],
  "experience": "3+ years",
  "status": "Disponible"
}`} /></pre>
    </div>
  </div>
</div>
