---
import "@styles/global.css";
import "@fortawesome/fontawesome-free/css/all.min.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/assets/images/foto-anime.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio Cabarcas</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<script src="/scripts/global.js" defer>
</script>
